<div class="container">
  <!-- Titre principal -->
  <h1>Les tendances CV : Conseils et Inspirations</h1>
</div>
<p>
  <span class="highlight">Suivez les dernières tendances</span> pour optimiser votre CV et attirer l'attention des recruteurs. Découvrez les
  conseils pratiques et des exemples qui fonctionnent en 2024.
</p>

<!-- Section 1 -->
<div class="info-section">
  <h2>Comment faire un bon CV : les informations obligatoires</h2>
  <ul>
    <li>Votre identité : nom, prénom, nationalité(s), une petite phrase d’accroche pour vous présenter rapidement.</li>
    <li>L’intitulé de poste : facilitez la tâche aux recruteurs en annonçant clairement le poste visé.</li>
    <li>Vos coordonnées : adresse mail, numéro de téléphone et ville de résidence.</li>
    <li>Vos diplômes, permis de conduire et formations reconnues utiles pour le poste.</li>
    <li>Vos expériences professionnelles ou bénévoles.</li>
    <li>Vos compétences : hard skills (logiciels, langues) et pourquoi pas vos mad et soft skills.</li>
  </ul>
</div>

<!-- Section 2 -->
<div class="info-section">
  <h2>Quelles compétences mettre sur le CV et comment ?</h2>
  <ul>
    <li>Vos compétences transférables</li>
    <li>Vos compétences spécifiques, les hard skills</li>
    <li>Vos mad et soft skills</li>
    <li>Pour faire un CV, listez les bonnes expériences</li>
  </ul>
  <button routerLink="" class="btn-back-home">&#8592; Retour à Home</button>
</div>
