<div class="container mt-4">
  <h2 class="text-center mb-4">Gestion du CV</h2>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">Informations Utilisateur</div>
        <div class="card-body">
          <jhi-app-user-update></jhi-app-user-update>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card shadow-sm">
        <div class="card-header bg-success text-white">Compétences</div>
        <div class="card-body">
          <jhi-competence-update></jhi-competence-update>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card shadow-sm">
        <div class="card-header bg-success text-white">Formation</div>
        <div class="card-body">
          <jhi-formation-update></jhi-formation-update>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">Experience Pro</div>
        <div class="card-body">
          <jhi-experience-pro-update></jhi-experience-pro-update>
        </div>
      </div>
    </div>
  </div>
</div>
